<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div th:replace="fragments/header::header"></div>

<div layout:fragment="content">

    <form th:action="@{'/faq/faq'}" role="form" method="get" th:object="${faqs}">
        <table class="table">
            <thead>
            <tr>
                <td>자주묻은질문번호</td>
                <td>문의유형</td>
                <td>자주묻은질문</td>
                <td>자주묻은답변</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="faqs : faqs">
                <!--                아이템목록을 순환하면서 각 아이템에 대한 행을 생성합니다.-->
                <td th:text="${faqs.id}"></td>
                <!--               상품명을 클릭하면 상품 수정페이지로 이동 -->
                <td th:text="${faqs.faqType}"></td>
                <td th:text="${faqs.faqQuestion}"></td>
                <td th:text="${faqs.faqAnswer}"></td>
            </tr>
            </tbody>
        </table>

<!--        <div th:with="start=${(items.number/maxPage)*maxPage + 1},-->
<!--		end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >-->
<!--            <ul class="pagination justify-content-center">-->

<!--                <li class="page-item" th:classappend="${items.first}?'disabled'">-->
<!--                    <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link">-->
<!--                        <span aria-hidden='true'>Previous</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">-->
<!--                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>-->
<!--                </li>-->
<!--                &lt;!&ndash;                각 페이지 번호 리스트를 순환하면서 각 페이지번호를 표시합니다.&ndash;&gt;-->
<!--                &lt;!&ndash; 현재페이지 인경우 active 클래스 추가해서 페이지강조(css 적용) &ndash;&gt;-->
<!--                &lt;!&ndash; r각페이지 번호에 대한 링크생성 페이지를 클릭하면 해당 페이지로 이동 &ndash;&gt;-->

<!--                <li class="page-item" th:classappend="${items.last}?'disabled'">-->
<!--                    &lt;!&ndash;                    마지막 페이지 일경우 비활성화&ndash;&gt;-->
<!--                    <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link">-->
<!--                        <span aria-hidden='true'>Next</span>-->
<!--                    </a>-->
<!--                    &lt;!&ndash;                    Next 버튼을 클릭하면 다음 페이지로 이동 &ndash;&gt;-->
<!--                </li>-->

<!--            </ul>-->
<!--        </div>-->

<!--        <div class="d-flex justify-content-center" th:object="${itemSearchDto}">-->
<!--            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">-->
<!--                <option value="all">전체기간</option>-->
<!--                <option value="1d">1일</option>-->
<!--                <option value="1w">1주</option>-->
<!--                <option value="1m">1개월</option>-->
<!--                <option value="6m">6개월</option>-->
<!--            </select>-->
<!--            <select th:field="*{searchSellStatus}" class="form-control" style="width:auto;">-->
<!--                <option value="">판매상태(전체)</option>-->
<!--                <option value="SELL">판매</option>-->
<!--                <option value="SOLD_OUT">품절</option>-->
<!--            </select>-->
<!--            <select th:field="*{searchBy}" class="form-control" style="width:auto;">-->
<!--                <option value="itemNm">상품명</option>-->
<!--                <option value="createdBy">등록자</option>-->
<!--            </select>-->
<!--            <input th:field="*{searchQuery}" type="text" class="form-control"-->
<!--                   placeholder="검색어를 입력해주세요">-->
<!--            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>-->
<!--        </div>-->
    </form>

</div>
<div th:replace="fragments/footer::footer"></div>
