<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ItemDetail</h1>
<!--<p>상품명 :<span th:text="${itemNm}"></span></p>-->
<!--<p>상품 상세 설명 :<span th:text="${itemDT}"></span></p>-->
<!--<p>상품 등록일 :  <span th:text="${itemRT}"></span></p>-->
<!--<p>상품 가격 :<span th:text="${itemPC}"></span></p>-->
<div>
    상품명 : <span th:text="${itemDetail.itemNm}"></span>
</div>
<div>
    상품 상세 설명 : <span th:text="${itemDetail.itemDetail}"></span>
</div>
<div>
    상품 등록일 : <span th:text="${itemDetail.regTime}"></span>
</div>
<div>
    상품 가격 : <span th:text="${itemDetail.price}"></span>
</div>
</body>
</html>