<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>
{{>layouts/header}}
<!--content-->
<!--<h1 th:text="${username} +'님, 반갑습니다.'"></h1>--> <!--타임리프 문법-->
<div class="bg-dark text-white p-5">
    <h1>{{username}} 님, 반갑습니다.asdf</h1> <!--머스테치 문법-->
</div>
<!--
    템플릿 엔진: 지정된 템플릿 양식과 데이터가 합쳐져서 html로 문서로 화면에 출력
-->
{{>layouts/footer}}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>