<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>${.....} 변수표현식</p>
    <span th:text="${fruit.fruit1}"></span><br/>
    <span th:text="${fruit.fruit2}"></span><br/>
    <span th:text="${fruit.fruit3}"></span><br/>
    <p>${.....} 선택변수표현식</p>
    <div th:object="${fruit}">
        <span th:text="*{fruit1}"> </span><br/>
        <span th:text="*{fruit2}"> </span><br/>
        <span th:text="*{fruit3}"> </span><br/><br/>
    </div>
<ul>
    <li th:each="entry : ${fruit}">
        <span th:text="${entry.key}" ></span> - <span th:text="${entry.value}" ></span>
    </li>
</ul>
</body>
</html>